[project]
	description = RSPS-Project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mamalimt
[access "refs/for/refs/*"]
	read = group user/mamalimt
	push = group user/mamalimt
	label-Code-Review = -2..+2 group user/mamalimt
	label-Verified = -1..+1 group user/mamalimt
	rebase = group user/mamalimt
	removeReviewer = group user/mamalimt
	submit = group user/mamalimt
[access "refs/heads/*"]
	read = group user/mamalimt
	create = group user/mamalimt
	push = +force group user/mamalimt
	pushMerge = group user/mamalimt
[access "refs/tags/*"]
	push = +force group user/mamalimt
	pushTag = group user/mamalimt
	pushSignedTag = group user/mamalimt
